<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <title>Blogopedia</title>

  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- fonts, icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <!-- my CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />

</head>
<body>
    <!-- left navbar orderBy, direction -->
    <div class="container-fluid my-5">
      <div class="row">
        <div class="col-3 sticky-top" style="height: 100%; top: 3em">
          <!-- order posts card -->
          <div class="card">
            <div class="card-body p-3">
              <h5 class="card-title my-2 mx-0">Order posts</h5>
              <div class="list-group list-group-flush">
                <form method="GET" action="#" th:action="@{/order}">
                  <label for="orderBySelect">By</label>
                  <select name="orderBy" class="form-control" id="orderBySelect">
                    <option>id</option>
                    <option value="content">post content</option>
                  </select>
                  <label class="mt-2" for="directionSelect">In order</label>
                  <select name="direction" class="form-control" id="directionSelect">
                    <option value="asc">ascending</option>
                    <option value="desc">descending</option>
                  </select>
                  <button type="submit" class="btn btn-sm btn-primary mt-4">Sort</button>
                </form>
              </div>
            </div>
          </div>
          <!-- user statistics card -->
          <div class="card mt-4">
            <div class="card-body p-3">
              <h5 class="card-title my-2 mx-0">Users Statistics</h5>
              <div class="list-group list-group-flush">
                <form method="GET" th:action="@{/stats}">
                  <label for="userStats">Choose a user</label>
                  <select name="id" class="form-control" id="userStats">
                    <option th:each="author: ${authors}" th:value = "${author.id}" th:text="${author.username}"></option>
                  </select>
                  <button type="submit" class="btn btn-sm btn-primary mt-4">Get</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">

          <!--- post form begins -->
          <section class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                    a Post</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <form method="POST" action="#" th:action="@{/post}" th:object="${postDTO}">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="form-group">
                      <label class="sr-only" for="postContent">post</label>
                      <textarea th:field="*{postContent}" class="form-control" id="postContent" rows="3" placeholder="What are you thinking..."></textarea>
                      <span class="myValidationError"
                          th:if="${#fields.hasErrors('postContent')}"
                            th:errors="*{postContent}">Post can't have empty content!</span>
                    </div>
                    <div class="form-group my-2">
                      <label class="sr-only" for="postTags">post</label>
                      <textarea th:field="*{tags}" class="form-control" id="postTags" rows="1" placeholder="Tag your post..."></textarea>
                      <span class="myValidationError"
                            th:if="${#fields.hasErrors('tags')}"
                            th:errors="*{tags}">Post can't have empty tags!</span>
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="postAuthor">Who are you?</label>
                      <select th:field="*{authorId}" class="form-control" id="postAuthor">
                        <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.username}"></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="text-right mt-2">
                  <button type="submit" class="btn btn-primary">share</button>
                </div>

                <span th:if="${#fields.hasErrors()}" class="myValidationError">
                 Please correct the problems and resubmit.
                </span>
              </form>
            </div>
          </section>
          <!--- post form ends -->

          <!-- post begins -->
          <section th:each="post : ${posts}" class="card mt-4" style="z-index: 1050">
            <div class="border p-2">
              <!-- post header -->
              <div class="row m-0">
                <div class="">
                  <a class="text-decoration-none" href="#">
                    <img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="50" height="50" alt="...">
                  </a>
                </div>
                <div class="flex-grow-1 pl-2">
                  <a class="text-decoration-none" href="#">
                    <h2 class="text-capitalize h5 mb-0" th:each="author: ${post.authors}">
                      <span th:text="${author.username}"/>
                    </h2>
                  </a>
                  <ul class="list-inline small text-secondary m-0 mt-1"  >
                    <li class="list-inline-item small text-secondary m-0 mt-1" th:each="tag: ${post.tags}" th:text="${'#' + tag.tagName + ' '}" />
                  </ul>
                </div>

                <div class="dropdown">
                  <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chevron-down"></i>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <form method="get" th:action="@{/upload/{id}(id = ${post.id})}">
                      <button type="submit" class="dropdown-item text-primary" >Attach file</button>
                    </form>
                    <form method="get" th:action="@{/post/edit/{postId}(postId = ${post.id})}">
                      <button type="submit" class="dropdown-item text-primary" >Edit</button>
                    </form>
                    <form method="get" th:action="@{/post/delete/{id}(id = ${post.id})}">
                      <button type="submit" class="dropdown-item text-primary" >Delete</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- post body -->
              <div class="">
                <p th:utext="${post.getPostContent()}" class="my-2"></p>
                <p class="my-0"th:each="attachment: ${post.attachments}">
                  <a th:href="@{${'/files/' + attachment.fileName}}" th:text="${attachment.fileName}"/>
                </p>
              </div>
              <hr class="my-1">
              <!-- post footer begins -->
              <footer class="">
                <!-- post actions -->
                <div class="">
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item flex-fill text-center p-0 px-lg-2 border-0">
                      <a class="small text-decoration-none" th:attr="data-target='#collapse_' + ${post.getId()}, aria-controls='collapse' + ${post.getId()}" data-toggle="collapse" role="button" aria-expanded="false">
                        <i class="fas fa-comment-alt"></i> <span th:text="${post.getComments().size()}" /> Comments
                      </a>
                    </li>
                  </ul>
                </div>


                <!-- collapsed comments begins -->
                <div class="collapse" th:id="${'collapse_' + post.getId()}">
                  <div class="card border border-right-0 border-left-0 border-bottom-0 mt-1">
                    <!-- new comment form -->
                    <section class="mt-3 mx-2">
                      <form th:object="${commentDTO}" method="POST" th:action="@{/comment/{id}(id = ${post.id})}">
                        <div class="form-group">
                          <label for="commentAuthor">Who are you?</label>
                          <select th:field="*{username}" class="form-control" id="commentAuthor">
                            <option th:each="author: ${authors}" th:attr="value = ${author.username}" th:text="${author.username}"></option>
                          </select>
                        </div>
                        <div class="input-group input-group mt-2">
                          <input th:field="*{commentContent}" type="text" class="form-control" placeholder="Write Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="text-decoration-none text-white btn btn-primary" type="submit">Comment</button>
                          </div>
                        </div>
                        <span class="myValidationError"
                              th:if="${#fields.hasErrors('commentContent')}"
                              th:errors="*{commentContent}">Can't add empty comment!</span>
                        </span>
                        <span th:if="${#fields.hasErrors()}" class="myValidationError">
                          Please correct the problems above and resubmit.
                        </span>
                      </form>
                    </section>
                    <!-- comment card bgins -->
                    <section>
                      <div th:each="singleComment: ${post.getComments()}" class="card p-2 mt-3 mx-2">
                        <!-- comment header -->
                        <div class="d-flex">
                          <div class="">
                            <a class="text-decoration-none" href="#">
                              <img class="profile-pic" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="40" height="40" alt="...">
                            </a>
                          </div>
                          <div class="flex-grow-1 pl-2">
                            <a th:text="${singleComment.author.username}" class="text-decoration-none text-capitalize h6 m-0" href="#"></a>
                          </div>
                          <div >
                            <div class="dropdown">
                              <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-chevron-down"></i>
                              </a>

                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <form method="get" th:action="@{/comment/edit/{id}(id = ${singleComment.id})}">
                                  <button type="submit" class="dropdown-item text-primary" >Edit</button>
                                </form>
                                <form method="get" th:action="@{/comment/delete/{id}(id = ${singleComment.id})}">
                                  <button type="submit" class="dropdown-item text-primary" >Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- comment header -->
                        <!-- comment body -->
                        <div class="card-body p-0">
                          <p th:text="${singleComment.commentContent}" class="card-text h7 mb-1"></p>
                        </div>
                      </div>
                    </section>
                    <!-- comment card ends -->

                  </div>
                </div>
                <!-- collapsed comments ends -->
              </footer>
              <!-- post footer ends -->
            </div>
          </section>
          <!-- post Ends -->
        </div>
        <!-- right navbar -->
        <div class="col-3 sticky-top" style="height: 100%; top: 3em">
          <div class="card">
            <div class="card-body p-3">
              <h5 class="card-title my-2 mx-0">Search for post</h5>
              <div class="list-group list-group-flush">
                <form method="GET" action="#" th:action="@{/search/post}">
                  <label for="searchBySelect">By</label>
                  <select name="by" class="form-control mt-2" id="searchBySelect">
                    <option>author</option>
                    <option>content</option>
                    <option>id</option>
                    <option>tag</option>
                  </select>
                  <label class="mt-2" for="postSearch">Value</label>
                  <textarea name="value" class="form-control" id="postSearch" rows="1" placeholder="Value"></textarea>
                  <button type="submit" class="btn btn-sm btn-primary mt-4">View All</button>
                </form>
              </div>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-body p-3">
              <h5 class="card-title my-2 mx-0">Search for all of user's</h5>
              <div class="list-group list-group-flush">
                <form method="GET" action="#" th:action="@{/search/user}">
                  <label for="userSearchSelect">For</label>
                  <select name="for" class="form-control" id="userSearchSelect">
                    <option>posts</option>
                    <option>comments</option>
                  </select>
                  <label class="mt-2" for="usernameSearch">Username</label>
                  <textarea name="username" class="form-control" id="usernameSearch" rows="1" placeholder="Username"></textarea>
                  <button type="submit" class="btn btn-sm btn-primary mt-4">View All</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>